@model Trening.Models.Coach

@{
    ViewData["Title"] = "Details";
}

<br />
<h1 style="color:#ff5660">Details for Coach: @ViewData["Coach"]</h1>
<br />

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Awards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Awards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certificates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certificates)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
